.bikes-video {
  position: relative;
  min-height: 706px;
  // background-color: $black-3;
  background: linear-gradient(to top, $black-3 100%, $black-3 100%);
  color: rgba($basic-white, 0.7);

  @media (max-width: $tablet-width-max) {
    min-height: 413px;
  }

  @media (max-width: $mobile-width-max) {
    min-height: 384px;
  }
}

.bikes-video__container {
  @media (max-width: $mobile-width-max) {
    @include container-mobile;
  }
}

.bikes-video h2 {
  margin: {
    top: 0;
    bottom: 18px;
  }
  padding-right: 10px;
  color: $basic-white;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 15px;
    padding-right: 0;
  }

  @media (max-width: $mobile-width-max) {
    padding-right: 8px;
  }
}

.bikes-video p {
  margin: {
    top: 0;
    left: auto;
    right: auto;
  }
  padding-left: 10px;
  width: 340px;

  @media (max-width: $tablet-width-max) {
    padding-left: 6px;
    width: 429px;
    letter-spacing: -0.01em;
    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 0;
    width: auto;
  }

  &:last-of-type {
    margin-bottom: 56px;

    @media (max-width: $tablet-width-max) {
      margin-bottom: 40px;
    }

    @media (max-width: $mobile-width-max) {
      margin-bottom: 53px;
    }
  }
}

.bikes-video__video {
  margin: 0 auto;
  height: 404px;
  // margin: {
  //   left: auto;
  //   right: auto;
  //   bottom: -118px;
  // }
}
