.intro__link {
  display: block;
  width: 68px;
  height: 23px;
  margin-bottom: 30px;
}

.intro__title {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.01em;

  color: $white;
}

.intro__text {
  max-width: 380px;

  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.01em;

  color: $white;

  opacity: 0.8;
}

@media (max-width: $tablet-width) {
  .intro {
    margin-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;

    text-align: center;
  }

  .intro__link {
    position: absolute;

    top: 25px;
    left: 21px;
  }

  .intro__title {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
  }

  .intro__text {
    max-width: 700px;
    min-height: 64px;
    margin: 0 auto;

    font-size: 18px;
  }
}

@media (max-width: $mobile-width) {
  .intro {
    margin-bottom: 140px;
    padding: 0;
  }

  .intro__link {
    top: 23px;
    left: 16px;
  }

  .intro__title {
    min-height: 84px;
  }

  .intro__text {
    min-height: 96px;
  }
}
