.page-footer--menu-open {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-footer__contacts {
  padding: {
    top: 39px;
    right: 16px;
  }

  @media (max-width: $tablet-width-max) {
    padding: {
      top: 21px;
      right: 11px;
    }
  }

  @media (max-width: $mobile-width-max) {
    padding: {
      top: 29px;
      right: 0;
    }
  }
}
