.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  min-height: 100vh;
  min-width: $mobile-width;
  background-color: $basic-white;
  color: $black-1;
}

.page__footer {
  margin-top: auto;
  padding-bottom: 98px;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 53px;
  }
}
