.form {
  width: 362px;
  padding-top: 7px;
}

.form__text {
  margin-bottom: 19px;

  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.005em;
  text-align: center;

  color: $white;
}

.form__field {
  margin-bottom: 20px;
}

.form__field input {
  width: 100%;
  padding: 14px 20px 12px 29px;

  background: $white;
  border: 1px solid $grey-border;
  border-radius: 4px;

  &::placeholder {
    font-size: 15px;
    line-height: 24px;

    color: $grey-dark;

    opacity: 0.5;
  }
}

.form__btn {
  width: 326px;
  height: 51px;

  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  color: $black-main;
  background-color: $turquoise;
  border-radius: 6px;

  border: none;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .form {
    width: auto;
    margin: 0 auto;
    padding: 0 173px;
  }

  .form__text {
    margin-bottom: 30px;

    font-size: 18px;

    color: $black-main;
  }

  .form__field input {
    padding: 13px 20px 13px 21px;
  }

  .form__btn {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .form {
    width: auto;
    padding: 0;
  }

  .form__text {
    min-height: 84px;
    margin-bottom: 20px;
  }

  .form__field {
    padding: 13px 21px 13px 25px;
  }

  .form__btn {
    width: 100%;
  }
}
