.main-nav__toggle {
  display: none;
}

.main-nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  width: 880px;
  margin: 0 auto;
  padding: 0 17px;

  list-style: none;

  &::after {
    position: absolute;
    content: "";

    top: 62px;
    left: 3px;

    width: 871.5px;

    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.main-nav__item {
  margin-right: 125px;
  padding: 16px 0 4px;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 5px;

  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.005em;

  color: $white;

  opacity: 0.7;
}

@media (max-width: $tablet-width) {
  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    padding: 25px;

    background-color: $turquoise;
    border: none;
    z-index: 3;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";

      top: 15px;
      left: 14px;

      width: 22.5px;
      height: 2px;

      background-color: $black-main;
      box-shadow: 0 8px 0 0 $black-main, 0 16px 0 0 $black-main;
    }
  }

  .main-nav__toggle--active {
    background-color: transparent;

    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      content: "";

      top: 10px;
      right: 10px;

      width: 30px;
      height: 30px;

      background-image: url("../img/icon-close.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .main-nav__list {
    position: absolute;

    display: none;
    flex-direction: column;
    left: 0;
    width: 100%;
    padding: 101px 0 137px;

    background-color: $white;

    &::after {
      display: none;
    }
  }

  .main-nav__list--active {
    display: block;

    z-index: 2;
  }

  .main-nav__item {
    margin-right: 0;
    margin-bottom: 30px;
    padding: 0;

    background-color: #f6f6f6;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-nav__link {
    position: relative;
    padding: 16px 17px;

    font-size: 20px;
    line-height: 28px;

    color: $grey;

    &::after {
      position: absolute;
      content: "";

      top: 22px;
      right: 20px;

      width: 12px;
      height: 12px;

      background-image: url("../img/icon-arrow.svg");
      background-repeat: no-repeat;
    }
  }
}
