.page-header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 880px;
  margin: 0 auto;
  padding: 254px 0 239px;

  &::before {
    position: absolute;
    content: "";

    top: 0;
    left: 3px;

    width: 871.5px;

    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: $tablet-width) {
  .page-header__wrap {
    flex-direction: column;
    width: auto;
    padding: 134px 50px 0;

    &::before {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header__wrap {
    padding: 120px 16px 0;
  }
}
