$black-main: #000000;
$black-lightly: #1f1f1f;
$white: #ffffff;
$grey-dark: #1c1c1c;
$grey: #48494d;
$grey-border: #c9ccd4;
$turquoise: #0ad9c6;

$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
